# Test Data
STANDARD_USER_PASSWORD=secret_sauce
LOCKED_OUT_USER_PASSWORD=secret_sauce

# Selenium Grid
# Required for execution.mode=grid
GRID_HOST=http://localhost:4444
# Required by the current Selenium Grid docker-compose setup.
# Provide both values together.
GRID_USERNAME=admin
GRID_PASSWORD=admin
